# SQS configuration
AWS_REGION=us-east-1

# SQS configuration
AWS_SQS_URL=https://sqs.us-east-1.amazonaws.com/0000000000000/analytics-queue

#DYNAMODB configuration
AWS_DYNAMODB_TABLE=ToggleMasterAnalytics