# Database configuration for Targeting Service
DB_HOST_TARGETING_SERVICE=targeting_db
DB_NAME_TARGETING_SERVICE=targeting
DB_USER_TARGETING_SERVICE=targeting_user
DB_PASSWORD_TARGETING_SERVICE=targeting_password-fas&-2

AUTH_SERVICE_URL=http://auth-service:8001