# Valores do ambiente prod. Ajuste o naming e os CIDRs para nao colidir com o lab.

region          = "us-east-1"
account_id      = "361075236043"
cluster_name    = "tc-eks-prod"
cluster_version = "1.30"

vpc_cidr             = "10.30.0.0/16"
azs                  = ["us-east-1a", "us-east-1b"]
public_subnet_cidrs  = ["10.30.0.0/20", "10.30.16.0/20"]
private_subnet_cidrs = ["10.30.128.0/20", "10.30.144.0/20"]

lab_role_name        = "LabRole"
admin_principal_arns = ["arn:aws:iam::361075236043:role/LabRole"]

node_instance_types = ["t3.large"]
rds_instance_class  = "db.t3.small"
redis_node_type     = "cache.t3.small"

dynamodb_table_name = "tc-dynamo-prod"
sqs_queue_name      = "tc-sqs-prod"
redis_name          = "tc-redis-prod"
